@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

header {
    padding: 3rem;
    background-color: #2d1a94;
}

header h1 {
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;
    visibility: hidden;
    
}

#logo {
  display: flex;
  width: 30%;
}

header nav {
  font-size: 3rem;
  text-align: center;
  justify-content: stretch;  
  margin-top: 3rem;

}

header nav a:link {
  color: whitesmoke;
  background-color: transparent;
  
}

main {
    margin: 0rem 10rem 0rem 10rem;
}

#cards {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    flex-wrap: wrap;
}

section#cards div.card{
    width: 15rem;   
    box-shadow: 10px 5px 5px -6px #777;
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

section#cards div.card img{
  width: 15rem;
}

section#cards div.card h2 {
    margin-bottom: 1rem;
    color: midnightblue;
    text-decoration: underline; 
    text-decoration-color: white;
}

section#cards div.card p.descricao {
    margin-bottom: 1rem;
    text-decoration: underline; 
    text-decoration-color: white;
}

section#cadastro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
}

section#cadastro h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}

section#cadastro form{
    width: 70%;
    height: 30%;
}

section#cadastro form input{
    width: 100%;
    padding: .7rem;
    font-size: 1rem;
    outline: none;
    border: solid 1px rgb(42, 13, 147);
    margin-bottom: 1rem;
}

section#cadastro form label{
    font-style: bold;
}

section#cadastro form button{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


section#message {
  padding: 1.5rem;
  background-color: rgb(197, 255, 214);
  color: #004d04;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
}

span#close:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}

footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

section#cadastrocontainer2 {
  display: flex;
  justify-content: space-evenly;
}

section#cadastrocontainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 50%;
    
}

button#btndetalhes {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  
}



button, button::after {
    width: 300px;
    height: 66px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #2d1a94 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 68px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    cursor: pointer;
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'CADASTRAR';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #261575 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }


  
  .button-58 {
    align-items: center;
    background-color: #06f;
    border: 2px solid #06f;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-58:focus {
    color: #171e29;
  }
  
  .button-58:hover {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
  }
  
  .button-58:active {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
  }
  
  @media (min-width: 768px) {
    .button-58 {
      min-width: 170px;
    }
  }